---
import siteConfig from "../../data/site.json";
---

<footer>
  <div class="justify-center w-fit mx-auto text-center py-12">
    <p class="font-medium text-base text-base-900">{siteConfig.brand.name}</p>
    <p class="text-sm mt-1 text-base-500 max-w-md">
      {siteConfig.footer.tagline}<br />
      {siteConfig.footer.description}
    </p>
    <p class="text-xs mt-4 text-base-400">
      Powered by <a href="https://www.zazzle.com" class="underline hover:text-base-500 duration-200" target="_blank" rel="noopener">Zazzle</a>
    </p>
  </div>
</footer>
